# Indexing deaktivieren
IndexIgnore *

# Sicherheitsheader
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy: "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"
Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Cache Control
<FilesMatch "\.(jpg|jpeg|png|gif|js|css|eot|svg|ttf|woff|woff2)$">
  Header set Cache-Control "max-age=3600, public"
</FilesMatch>

# Rewrite engine
RewriteEngine On

# Wenn URL eine Datei oder ein Verzeichnis ist, dann die folgenden Regeln ignorieren.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Kategorie Regel
# kategorie/{Name}
RewriteRule ^kategorie\/([\w\d-]+)$ /index.php?p=showCategory&category=$1 [NC,L,QSA]

# Rezept Regel
# rezept/{Name}
RewriteRule ^rezept\/([\w\d-]+)$ /index.php?p=showItem&item=$1 [NC,L,QSA]

# Vote/Fav Regel
# vote|fav/{Name}
RewriteRule ^(vote|fav)\/([\w\d-]+)$ /index.php?p=$1&item=$2 [NC,L,QSA]

# Admin Regeln
# admin.../{Funktion} ohne ID
# admin.../{Funktion}/id
RewriteRule ^(admin(?:Categories|Items|Files|FeaturedItems|Users))\/(add|list|catsort)$ /index.php?p=$1&action=$2 [NC,L,QSA]
RewriteRule ^(admin(?:Categories|Items|Files|Sessions|FeaturedItems|Users))\/(list|add|edit|del|assign|sort|show)\/([\d]+)$ /index.php?p=$1&action=$2&id=$3 [NC,L,QSA]
# Zuweisen von Kategorien
RewriteRule ^adminItems\/assign\/([\d]+)\/(del|add)\/([\d]+)$ /index.php?p=adminItems&action=assign&id=$1&$2=$3 [NC,L,QSA]
# Bilder löschen
RewriteRule ^adminFiles\/del\/([\d]+)\/([\d]+)$ /index.php?p=adminFiles&action=del&id=$1&imageId=$2 [NC,L,QSA]
# Zutaten und Maßeinheiten, Zuweisung der Zutaten
RewriteRule ^adminIngredients\/(addI|addU|list)$ /index.php?p=adminIngredients&action=$1 [NC,L,QSA]
RewriteRule ^adminIngredients\/(editI|editU|delI|delU|assign)\/([\d]+)$ /index.php?p=adminIngredients&action=$1&id=$2 [NC,L,QSA]
RewriteRule ^adminIngredients\/assign\/([\d]+)\/del\/([\d]+)$ /index.php?p=adminIngredients&action=assign&id=$1&del=$2 [NC,L,QSA]

# Regel für den Rest
RewriteRule ^([\w\d-]+)$ /index.php?p=$1 [NC,L,QSA]

# Errorhandling
ErrorDocument 404 /index.php?p=404
ErrorDocument 403 /index.php?p=403
