# Indexing deaktivieren
IndexIgnore *

# Sicherheitsheader
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy: "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"
Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Rewrite engine
RewriteEngine On

# Wenn URL eine Datei oder ein Verzeichnis ist, dann die folgenden Regeln ignorieren.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Kategorie Regel
# kategorie/{Name}
RewriteRule ^kategorie\/([\w\d-]+)$ /index.php?p=showcategory&category=$1 [NC,L,QSA]

# Rezept Regel
# rezept/{Name}
RewriteRule ^rezept\/([\w\d-]+)$ /index.php?p=showitem&item=$1 [NC,L,QSA]

# Admin Regel
# admin.../{Funktion} ohne ID
# admin.../{Funktion}/id
RewriteRule ^(admin(?:categories|items|files))\/(add|list|catsort)$ /index.php?p=$1&action=$2 [NC,L,QSA]
RewriteRule ^(admin(?:categories|items|files|sessions))\/(list|add|edit|del|assign|sort)\/([\d]+)$ /index.php?p=$1&action=$2&id=$3 [NC,L,QSA]
# Zuweisen von Kategorien
RewriteRule ^adminitems\/assign\/([\d]+)\/(del|add)\/([\d]+)$ /index.php?p=adminitems&action=assign&id=$1&$2=$3 [NC,L,QSA]
# Bilder löschen
RewriteRule ^adminfiles\/del\/([\d]+)\/([\d]+)$ /index.php?p=adminfiles&action=del&id=$1&imageid=$2 [NC,L,QSA]

# Regel für den Rest
RewriteRule ^([\w\d-]+)$ /index.php?p=$1 [NC,L,QSA]

# Errorhandling
ErrorDocument 404 /index.php?p=404
ErrorDocument 403 /index.php?p=403

## Entwicklung
AuthName "In Bearbeitung"
AuthType Basic
AuthUserFile /var/www/_pr0.cooking/public/.htpasswd
require valid-user
