# Indexing deaktivieren
IndexIgnore *

# Sicherheitsheader
Header set X-Frame-Options DENY
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy: "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"
Header set X-Content-Type-Options nosniff
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Cache Control
<FilesMatch "\.(jpg|jpeg|png|gif|js|css|eot|svg|ttf|woff|woff2)$">
  Header set Cache-Control "max-age=3600, public"
</FilesMatch>

# Rewrite engine
RewriteEngine On

# Wenn URL eine Datei oder ein Verzeichnis ist, dann die folgenden Regeln ignorieren.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Kategorie Regel
RewriteRule ^kategorie\/([a-z-\d]+)$ /index.php?page=showCategory&category=$1 [NC,L,QSA]

# Rezept Regel
RewriteRule ^rezept\/([a-z-\d]+)$ /index.php?page=showItem&item=$1 [NC,L,QSA]

# Regel für Aktionen
RewriteRule ^([a-z-\d]+)\/([a-z-\d]+)$ /index.php?page=$1&action=$2 [NC,L,QSA]

# Regel für alles
RewriteRule ^([a-z-\d]+)$ /index.php?page=$1 [NC,L,QSA]

# Errorhandling
ErrorDocument 404 /index.php?page=404
ErrorDocument 403 /index.php?page=403
